<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>

<body>
    <div class="content">
        <h1 class="mb-4"> Bienvenido a la mejor tienda gamer del mundo mundial papu {{user.name}} {{user.last_name}}!</h1>
        <img class="full-screen-image" src="img/home.PNG" alt="Tienda Gamer">
    </div>
</body>

</html>