</head>

<body>
    <!-- Content -->
    <div class="container mt-5">
        <div class="text-center mb-4">
            <h1>Bienvenido a la mejor tienda gamer del mundo mundial papu {{user.name}} {{user.last_name}}!</h1>
            <img src="img/home.PNG" width="1300" height="700">
        </div>
</body>

</html>