<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
   
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
    
    <style>
        body {
            background-color: #f3e5f5;
            color: #4a148c;
        }

        .navbar {
            background-color: #6a1b9a;
            padding: 5px;
        }

        
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="img/logo.PNG" alt="Logo" width="180" height="80" class="d-inline-block align-top">
        </a>
        <div class="navbar-center">Boris Gamer</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/products">Tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Mi Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contáctanos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/carts/{{user.cart}}">Carrito</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Content -->
    <div class="container mt-5">
        <div class="text-center mb-4">
            <h1>Bienvenido a la mejor tienda gamer del mundo mundial papu {{user.name}} {{user.last_name}}!</h1>
              <img src="img/home.PNG" width="1300" height="700">
        </div>
</body>
</html>