<body>
  <!-- Login Form -->
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center">Iniciar sesión</h2>
            <!-- Alerta de error -->
            <div id="error-alert" class="alert alert-danger" style="display: none;"></div>
            <!-- Formulario de inicio de sesión -->
            <form id="login-form" action="/api/users/login" method="POST">
              <div class="form-group mb-2">
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email" class="form-control" required>
                {{#if errors.email}}
                <div class="error">{{errors.email}}</div>
                {{/if}}
              </div>
              <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" class="form-control" required>
                {{#if errors.password}}
                <div class="error">{{errors.password}}</div>
                {{/if}}
              </div>
              <button type="submit" class="btn btnprimary btn-block">Iniciar sesión</button>
            </form>
            <!-- Botón de registro -->
            <div class="text-center mt-2">
              <form action="/register" method="GET">
                <button type="submit" class="btn btn-secondary btn-block">Registrarse</button>
              </form>
            </div>
            <!-- Botón GitHub -->
            <div class="text-center mt-2">
              <a href="/api/users/github" class="btn btn-dark btn-block">Iniciar sesión con GitHub</a>
            </div>
            <!-- Botón Olvidaste tu contraseña -->
            <div class="text-center mt-2">
              <form action="/reset-password" method="GET">
                <button type="submit" class="btn btn-link">¿Olvidaste tu contraseña?</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>