<body>

  <h1 class="mt-4 mb-4">Mi perfil</h1>

  <!-- Verificaci贸n de inicio de sesi贸n -->
  {{#if user}}
  <div class="profile-card mb-5">
    <p>Bienvenido, {{user.name}} {{user.last_name}}!</p>
    <p>Rol: {{user.role}}</p>

    {{#if this.isUser}}
    <a class="btn" href="/products">Tienda</a>
    <a class="btn" href="/chat">Chat en vivo</a>
    {{/if}}

    {{#if this.isPremium}}
    <a class="btn" href="/products">Tienda</a>
    <a class="btn" href="/realtimeproducts">Modificar Productos</a>
    <a class="btn" href="/chat">Chat en vivo</a>
    {{/if}}

    {{#if this.isAdmin}}
    <a class="btn" href="/realtimeproducts">Modificar Productos</a>
    {{/if}}

    <form action="/api/users/logout" method="POST">
      <button class="btn" type="submit">Logout</button>
    </form>

  </div>
  
  {{else}}
  <div class="text-center mt-4 mb-5">
    <p class="text-center mb-3">No has iniciado sesi贸n.</p>
    <a class="btn btnprimary mt-3 mb-3" href="/login">Iniciar sesi贸n</a>
  </div>
  {{/if}}


</body>