<style>
    .form-container {
        max-width: 500px;
        margin: auto;
        padding: 15px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>

<h1>Productos</h1>

<h2>Lista de productos</h2>
<p>Bienvenido, {{user.name}} {{user.last_name}}!</p>
<p>Rol:</p>
<p id="role">{{user.role}}</p>
<p>Correo:</p>
<p id="email">{{user.email}}</p>

<div class="row" id="lista-productos"></div>

<div id="contenedorProductos"></div>

<div class="form-container mb-5">
    <h2 class="mb-4 text-center">Formulario para agregar productos</h2>
    <form id="productForm" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="title">Título</label>
            <input type="text" class="form-control" id="title" placeholder="Título" required>
            <div class="invalid-feedback">Por favor, ingresa un título.</div>
        </div>

        <div class="form-group">
            <label for="description">Descripción</label>
            <input type="text" class="form-control" id="description" placeholder="Descripción" required>
            <div class="invalid-feedback">Por favor, ingresa una descripción.</div>
        </div>

        <div class="form-group">
            <label for="price">Precio</label>
            <input type="number" class="form-control" id="price" placeholder="Precio" required>
            <div class="invalid-feedback">Por favor, ingresa un precio.</div>
        </div>

        <div class="form-group">
            <label for="img">Imagen</label>
            <input type="text" class="form-control" id="img" value="Sin Imagen" required>
            <div class="invalid-feedback">Por favor, ingresa una imagen.</div>
        </div>

        <div class="form-group">
            <label for="code">Código</label>
            <input type="text" class="form-control" id="code" placeholder="Código" required>
            <div class="invalid-feedback">Por favor, ingresa un código.</div>
        </div>

        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" class="form-control" id="stock" placeholder="Stock" required>
            <div class="invalid-feedback">Por favor, ingresa el stock.</div>
        </div>

        <div class="form-group">
            <label for="category">Categoría</label>
            <input type="text" class="form-control" id="category" placeholder="Categoría" required>
            <div class="invalid-feedback">Por favor, ingresa una categoría.</div>
        </div>

        <div class="form-group">
            <label for="status">Estado</label>
            <select class="form-control" id="status" required>
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
            <div class="invalid-feedback">Por favor, selecciona el estado.</div>
        </div>

        <div class="form-group">
            <label for="thumbnails">Thumbnails</label>
            <input type="text" class="form-control" id="thumbnails" placeholder="Thumbnails (separados por comas)">
            <div class="invalid-feedback">Por favor, ingresa los thumbnails.</div>
        </div>

        <button type="button" class="btn btnprimary btn-block" id="btnEnviar">Enviar</button>
    </form>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/realtime.js"></script>