<style>
    .card {
        max-width: 90%;
        margin: auto;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>
</head>

<body>
    <div class="container mt-4 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center title mt-0">Registro</h2>
                        <form action="api/users/register" method="POST">
                            <div class="form-group">
                                <label for="first_name">Nombre:</label>
                                <input type="text" id="first_name" name="first_name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="last_name">Apellido:</label>
                                <input type="text" id="last_name" name="last_name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Correo electrónico:</label>
                                <input type="email" id="email" name="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña:</label>
                                <input type="password" id="password" name="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="age">Edad:</label>
                                <input type="number" id="age" name="age" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btnprimary btn-block">Registrarme</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

