<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recupera tu cuenta</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f3e5f5;
      color: #4a148c;
    }

    .container {
      margin-top: 50px;
    }

    .card {
      border: none;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-body {
      padding: 30px;
    }
  </style>
</head>

<body>
 
  <!-- Recover Account Form -->
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center">Restablece tu contrase침a</h2>
            <p class="text-center mt-4 mb-4">Introduce tu correo electr칩nico para buscar tu cuenta.
            </p>
            <form action="/api/users/reset-password" method="POST">
              <div class="form-group">
                <label for="identifier">Correo electr칩nico:</label>
                <input type="text" id="identifier" name="email" class="form-control" required>
                {{#if errors.email}}
                <div class="error">{{errors.email}}</div>
                {{/if}}
              </div>
              <button type="submit" class="btn btnprimary btn-block">Buscar</button>
            </form>
            <div class="text-center mt-2">
              <a href="/login" class="btn btn-link">Volver a iniciar sesi칩n</a>
            </div>
            <div class="text-center mt-2">
              <a href="/register" class="btn btn-link">Crear nueva cuenta</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>